body {
  margin: 0;
  padding: 0;

  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header {
  background-color: #fb6717;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .icon {
  width: 87px;
  height: 87px;
  top: 13px;
  left: 42px;
  opacity: 1;
}

.header .container .titulo {
  color: white;
  font-family: "Inria Serif";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header .container .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .container li {
  display: inline-block;
}
.header .container li .login_cadastro {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 20px;
  opacity: 1;
  border-radius: 10px;
  background-color: #e54906;
}
.header .container .navbar li {
  list-style-type: none;
  margin-left: 8px;
}
.header .container .navbar li a {
  font-family: "Asap";
  font-weight: 700;
  font-style: Bold;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.footer {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
      height: 120px;
      background-color: #b13f03;
}
.footer .container {
    width: 100%;

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .left_container {
  margin: 0;
  padding: 0;
}
.footer .container .left_container h4 {
  color: white;
  font-family: "Asap";
  font-weight: 400;
  font-style: "Regular";
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0px;
  margin: 0px;
}
.footer .container .left_container .contacts_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  top: 0%;
  margin: 0;
  padding: 0;
}
.footer .container .left_container .contacts_container img {
  height: 30px;
  width: 30px;
  filter: invert(100%);
  overflow: hidden;
  margin: 0;
    margin-top: 12px;
  padding: 0;
}
.footer .container .right_container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.footer .container .right_container h6{
    margin: 0px;
    padding: 0px;
    font-family: 'Asap';
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.footer .container .right_container  p{
    margin: 0px;
    padding: 0px;
    font-family: 'Asap';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.footer .page_end{
    align-self: flex-end;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .page_end p{
    margin: 0px;
    padding: 0px;
}